#board {
    width: 700px;
    /* display: flex; */
    flex-direction: column;
    margin-left: auto ;
    margin-right: auto;
    display: none;    
}

.row {
    display: flex;
    flex-direction: row;
    margin: 1px;
    justify-content: center;
}

#guess {
    width: 65px;
    height: 55px;
    border: 1px solid grey;
    margin: 1px;
    font-size: 35px;
    font-weight: bolder;
    color: black;
    font-family: Arial;
    padding-top: 10px;
}

.keyboard {
    display: flex;
    justify-content: center;
}

.key {
    width: 80px;
    height: 70px;
    margin: 5px;
    border-radius: 4px;
    display: grid;
    place-items: center;
    font-size: 15px;
    background-color: grey;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

#correct {
    background-color: #528d4e;
    /* display: flex;
    flex-direction: row;
    margin: 1px;
    justify-content: center; */
    width: 65px;
    height: 55px;
    border: 1px solid grey;
    margin: 1px;
    font-size: 35px;
    font-weight: bolder;
    color: black;
    font-family: Arial;
    padding-top: 10px;
}

#almost {
    background-color: #b49f39;
    width: 65px;
    height: 55px;
    border: 1px solid grey;
    margin: 1px;
    font-size: 35px;
    font-weight: bolder;
    color: black;
    font-family: Arial;
    padding-top: 10px;
}

#wrong {
    background-color:  red;
    width: 65px;
    height: 55px;
    border: 1px solid grey;
    margin: 1px;
    font-size: 35px;
    font-weight: bolder;
    color: black;
    font-family: Arial;
    padding-top: 10px;
}

p{
    margin: 0;
}